@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Noto+Sans+KR:wght@100..900&display=swap"); body { font-family: "Noto Sans KR", sans-serif; font-weight: 400; font-size: 16px; background-color: rgb(255, 255, 255); line-height: normal; color: rgb(55, 55, 55); letter-spacing: -1px; text-align: left; word-break: keep-all; } 
html,body { height: 100%; text-size-adjust: 100%; } 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, input { margin: 0px; padding: 0px; } 
ul, ol, dl { list-style: none; } 
ul { list-style: none; padding: 0px; margin: 0px; } 
img, fieldset, iframe { border: 0px; } 
img { vertical-align: top; } 
input, select, button { font-family: "Noto Sans KR", sans-serif; vertical-align: middle; } 
input { box-sizing: border-box; border-radius: 0px; } 
textarea:focus, input:focus { outline: none; } 
textarea { font-family: "Noto Sans KR", sans-serif; box-sizing: border-box; } 
button, input { position: relative; border: none; } 
button { cursor: pointer; outline: none; border: none; } 
em, address { font-style: normal; } 
a { text-decoration: none; color: inherit; display: block; position: relative; } 
.clear { clear: both; } 
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { appearance: none; margin: 0px; } 
img.map, map area { outline: none; } 
img::selection { background-color: transparent; color: rgb(0, 0, 0); } 
.relative { position: relative; } 
.blind { font: 0px / 0 a; height: 0px; overflow: hidden; position: absolute; width: 0px; } 
.obj { position: absolute; z-index: 2; } 
.pc { display: block !important; } 
.mo { display: none !important; } 
/* 스크롤바 */
* { scrollbar-width: auto; scrollbar-color: rgb(71, 71, 71) rgb(255, 255, 255); } 
::-webkit-scrollbar { width: 10px; } 
::-webkit-scrollbar-track { background: rgb(255, 255, 255); } 
::-webkit-scrollbar-thumb { background-color: rgb(71, 71, 71); border-radius: 10px; } 


#wrap { position: relative; width: 100%; height: 100%; overflow: hidden; } 

#fade{position:absolute; z-index: 10; width:100%; height:100%; left:0; top:0; background-color: #000000b6; animation:fadeOut 2s forwards;}
#lamp {width: 90px;display: inline-block;transform-origin: top center;transform:rotate(45deg);animation:lamp 3s forwards;position: absolute;z-index: 11;left: calc(50% - 45px);} 
#lamp .bulb { fill:#fcff48; fill-opacity:0.1; animation: bulb .3s .3s 5 cubic-bezier(.26,1.17,.89,-0.74) alternate forwards; } 

/* cursor */
#cursor { display:block; position: fixed; top: 0px; left: 0px; width: 40px; height: 40px; z-index: 9; pointer-events: none;} 
#cursor div { position: absolute; display: grid; place-items: center; } 
#cursor div div { border: 1px solid rgb(255, 255, 255); border-radius: 50%; animation: 2.1s linear 0s infinite normal none running pulse; box-shadow: rgba(134, 134, 134, 0.7) 0px 0px 50px 7px; } 
#cursor div:nth-child(1), #cursor div:nth-child(2) { width: 100%; height: 100%; } 
#cursor div:nth-child(1) { transition: transform 0.2s ease-out 0s; } 
#cursor div:nth-child(2) { transition: transform 0.1s ease-out 0s; } 
#cursor div:nth-child(2) div { background: rgb(255, 255, 255); border-radius: 50%; width: 4px; height: 4px; } 
#cursor.type1 div div { box-shadow: rgb(252, 194, 70) 0px 0px 50px 7px; } 
#cursor.type2 div div { box-shadow: rgb(252, 194, 70) 0px 0px 50px 7px; } 

/* main */
#wrap #main { width: 100%; height: 100%; position: relative; } 
#wrap #main .wall { position: absolute; } 
#wrap #main .wall1 { width: 50%; height: 108%; background: linear-gradient(103deg, rgb(208, 208, 208), rgb(239, 239, 239), rgb(255, 255, 255)); transform: skewY(160deg); top: -30%; left: 0px; z-index: 2; } 
#wrap #main .wall2 { width: 50%; height: 108%; right: 0px; background: linear-gradient(11deg, rgb(219, 219, 219), rgb(239, 239, 239), rgb(255, 255, 255)); transform: skewY(200deg); top: -30%; z-index: 2; } 
#wrap #main .wall3 { z-index: 1; width: 100%; height: 100%; background: linear-gradient(343deg, rgb(208, 207, 207), rgb(250, 250, 250), rgb(255, 255, 255)); } 
#wrap #main .txt1 { letter-spacing: 1px; position: absolute; top: 0px; z-index: 3; font-size: 65px; font-family: Kanit, sans-serif; font-weight: 700; } 
#wrap #main .wall1 .txt1 { right: 3px; top: auto; bottom: -1.5%; } 
#wrap #main .wall2 .txt1 { left: 4px; top: auto; bottom: -1.5%; } 
#wrap #main .wall .arrow { width: 32px; height: 32px; display: block; position: absolute; z-index: 3; bottom: 1%; left: 0px; background-size: contain; background-repeat: no-repeat; filter: opacity(0.5) drop-shadow(rgb(55, 55, 55) 0px 0px 0px); } 
#wrap #main .wall1 .arrow { background-image: url("../images/arrow2.png"); left: 180px; } 
#wrap #main .wall2 .arrow { background-image: url("../images/arrow.png"); right: 152px; left: auto; } 
#wrap #main .wall .txt2 { font-family: Kanit, sans-serif; position: absolute; font-size: 40px; padding: 0px 10px; cursor: pointer; } 
#wrap #main .wall1 .txt2:hover + .arrow { animation: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite normal none running slide-left; } 
#wrap #main .wall2 .txt2:hover + .arrow { animation: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite normal none running slide-right; } 
#wrap #main .wall .txt2 .bg { position: absolute; display: block; height: 100%; background: rgba(159, 217, 26, 0.41); left: 0px; top: 0px; z-index: 1; } 
#wrap #main .wall .txt2 .txt { position: relative; z-index: 2; } 
#wrap #main .wall1 .profile { left: 40px; bottom: 0%; } 
#wrap #main .wall2 .work { right: 40px; bottom: 0%; } 

/* side */
section.side { background: rgb(243, 243, 243); position: absolute; width: 100%; height: 100%; z-index: 12; top: 0px; will-change: transform; } 
section.side .wrap { position: relative; height: 100%; margin: 0px auto; overflow: hidden; } 
section.side>.close { z-index: 2; width: 70px; height: 70px; background: url("../images/close.png") 0% 0% / contain no-repeat; padding: 5px; position: absolute; font-size:0px; color:transparent;} 
section.side .main-title { font-family: Kanit, sans-serif; font-size: 290px; position: relative; width: fit-content; letter-spacing: 6px; color: rgb(222 222 222); } 
section h1{display:none;}

/* profile */
#profile { left: -100%; transition: all 1s ease 0s; } 
#profile.active { left: 0%; } 
#profile>.close { right: 40px; top: 40px; } 
#profile .main-title { position: absolute; left: -185px; top:-3%; } 
#profile .content { position: absolute; height: 100%; width: 1200px; left: 11%; } 
#profile .info {position: absolute;top: 29%;left: 0;} 
#profile .info .pic {width: 200px;} 
#profile .info ul {margin-top: 25px;} 
#profile .info ul li {margin-bottom: 5px;position: relative;padding-left: 18px;display: flex;align-items: center;font-size: 18px;} 
#profile .info ul li span { color: rgb(112 112 112); font-size: 30px; position: absolute; left: 0; } 
#profile .info .pic img { filter: drop-shadow(rgb(195, 195, 195) 10px 6px 6px); width: 100%; } 
#profile .txt1 { font-size: 40px; font-weight: 500; position: absolute; display: inline-block; top: 29%; left: 26%; } 
#profile .txt1 i { color: rgb(11 189 139); font-size: 36px; position: absolute; left: -42px; } 
#profile .txt1 i:last-child { right: -36px; left: auto; } 
#profile .infoSwiper { position: absolute; width: 830px; top: 55%; left: 26%; height: 210px; } 
#profile .infoSwiper .txt { font-size: 18px; } 
#profile .infoSwiper .swiper-slide{-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
#profile .infoSwiper .txt p { margin-bottom:25px; } 
#profile .infoSwiper .swiper-button-next,#profile .infoSwiper .swiper-button-prev { bottom: 0; top: auto; right: 20px; left: auto; } 
#profile .infoSwiper .swiper-button-next::after, #profile .infoSwiper .swiper-button-prev::after { display:none; } 
#profile .infoSwiper .swiper-button-next i, #profile .infoSwiper .swiper-button-prev i { font-size:40px; color:rgb(112 112 112); } 
#profile .infoSwiper .swiper-button-next.swiper-button-disabled, #profile .infoSwiper .swiper-button-prev.swiper-button-disabled { opacity: 0; } 
#profile .career { background-image: url(../images/arrow3.png); background-repeat: no-repeat; background-size: contain; padding-left: 25px; } 
#profile .career ul { margin-top: 10px; } 
#profile .career ul li { font-size: 18px; margin-bottom: 17px; } 
#profile .career ul li span { display: block; margin-bottom: 3px; font-size:16px; color:rgb(148 148 148); } 
#profile .mail { cursor:pointer; position: absolute; z-index: 5; right: 5%; top: calc(50% - 35px); } 
#profile .mail-icon { cursor: pointer; width: 70px; height: 70px; border-radius: 50%; background: rgb(11 189 139); display: flex; justify-content: center; align-items: center; box-shadow: 0px 0px 10px rgb(199 199 199); position: relative; z-index: 3; } 
#profile .mail-icon i { font-size: 32px; color:#fff; } 
#profile .mail .form { display:none; position:Absolute; width: 320px; background: #Fff; padding: 20px; top: calc(50% - 211px); opacity: 0; right:35%; box-shadow: 4px 4px 23px #cbcbcb; height: 437px; box-sizing: border-box; } 
#profile .mail .form form { height:100%; } 
#profile .mail .form form input[type="text"] { display: block; margin-bottom: 10px; border-radius: 9px; width: 100%; height: 42px; border: 1px solid #cccccc; padding: 0 10px; font-size: 14px; } 
#profile .mail .form form textarea { width:100%; border: 1px solid #cccccc; padding: 10px; border-radius: 10px; resize: none; font-size: 14px; } 
#profile .mail .form form input[type="button"] { cursor:pointer; display: block; border-radius: 10px; height: 45px; margin-top: 10px; width: 100%; background-color: rgb(86 86 86); color: #Fff; font-size: 17px; font-weight: 500; } 
#profile .mail .form .success { display:none; height: 100%; } 
#profile .mail .form label{display:none;}
#profile .mail .form .success .txt { font-weight: 600; font-size: 21px; text-align: center; padding-top: 85px; } 
#profile .mail .form .success .txt i { display: block; font-size: 40px; padding: 25px 0; color: rgb(11 189 139); } 
#profile .mail .form .success .close { width: 100%; background-color: rgb(86 86 86); color: #fff; font-size: 17px; border-radius: 10px; height: 45px; font-weight: 500; margin-top: 40px; } 
#profile .mail .form.active form input[type="button"].submit { background-color:rgb(11 189 139); } 
#profile .mail .form .txt { margin-bottom: 15px; } 
#profile .mail .form .txt i { margin-left:3px; } 

/* work */ 
#work { right: -100%; transition: all 1s ease 0s; } 
#work.active { right: 0%; } 
#work .close { left: 40px; top: 40px; } 
#work .prev { position: absolute; width: 50px; height: 50px; background: red; right: 0px; top: 0px; z-index: 5; } 
#work .main-title { position: absolute; right: -200px; top:-3%; } 
#work .content { width: 100%; height: 100%; display: flex; align-items: center; } 
#work .webSwiper { height: 300px; padding-top: 210px; padding-bottom: 290px; } 
#work .webSwiper .item { position: relative; margin:0 20px; background-color:#Fff; box-shadow: rgb(205, 205, 205) 0px 0px 35px; width: 500px; transition: all .8s ease 0s; cursor: pointer; padding-bottom: 60px; } 
#work .webSwiper .item:hover { will-change: transform; } 
#work .webSwiper .bg { overflow: hidden; width:100%; height: 300px; transition: all 1s ease 0s; } 
#work .webSwiper .bg img { width: 100%; } 
#work .webSwiper .info { width: 100%; background: rgb(255, 255, 255); display: flex; height: 60px; padding: 0px 15px; box-sizing: border-box; font-weight: 600; justify-content: space-between; font-size: 20px; align-items: center; } 
#work .webSwiper .box { position: relative; display: none; border-top: 1px solid rgb(212, 212, 212); padding: 15px; box-sizing: border-box; width: 0px; height: 0px; font-size: 18px; } 
#work .webSwiper .box p { margin-bottom: 7px; width: 62%; padding-left: 12px; position: relative; line-height: 1.5; } 
#work .webSwiper .box span { display:inline-block; position: absolute; left: 0; } 
#work .webSwiper .box .links{position:absolute;right: 22px; top: 12px; }
#work .webSwiper .box .link { font-size: 18px; font-weight: 500; display: block; padding: 3px 10px; width: fit-content; cursor: pointer; } 
#work .webSwiper .box .link i { margin-right: 4px; font-size: 14px; vertical-align: 1px; } 
#work .webSwiper .box .link::after { position: absolute; right: -3px; top: 13px; content: ""; width: 7px; height: 7px; border-top: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0); transform: rotate(45deg); } 
#work .webSwiper .item.active { width: 700px !important; padding-bottom: 210px; box-shadow: rgb(87, 87, 87) 0px 0px 35px; } 
#work .webSwiper .item.long.active{padding-bottom: 250px;}
#work .webSwiper .item.active .box { display: block; width: 100%; height: auto; } 
#work .webSwiper .item.active .bg { overflow-y: scroll; } 

/* mo */

@media (max-width: 1024px) { 
    body { letter-spacing: -0.5px; } 
    .pc { display: none !important; } 
    .mo { display: block !important; }

    #wrap { height:100%; overflow:visible; overflow-x: hidden; } 

    #cursor { display:none; }
    #lamp{width:60px; left:calc(50% - 30px)}
    
    #wrap #main .txt1 { font-size: 7vw; } 
    #wrap #main .wall1 .txt1 { bottom:-0.5%; } 
    #wrap #main .wall2 .txt1 { bottom:-0.5%; } 
    #wrap #main .wall .txt2 { font-size:5vw; padding:0 5px; } 
    #wrap #main .wall1 .profile { left:0; } 
    #wrap #main .wall2 .work { right:0; } 
    #wrap #main .wall .arrow { width: 40px; height: 40px; bottom: 5.5vw; } 
    #wrap #main .wall1 .arrow { left: 2%; } 
    #wrap #main .wall2 .arrow { right: 2%; } 

    section.side .main-title { font-size:21vw; letter-spacing: 1px; } 
    section.side>.close { width:35px; height:35px; } 

    #profile {height:auto;padding-bottom: 11vw;} 
    #profile>.close { right:15px; top:15px; } 
    #profile .main-title { top: 5%; left: -160px; } 
    #profile .content { position: relative; height: auto; width: 92%; display: flex; flex-direction: column; margin: 0 auto; margin-top: 50vw; left: 0; } 
    #profile .info { position: static; display: flex; align-items: flex-end; } 
    #profile .info .pic {width: 30vw;} 
    #profile .info .pic img { filter: drop-shadow(rgb(195, 195, 195) 4px 4px 6px); } 
    #profile .info ul { margin-top: 0; margin-left: 5%; } 
    #profile .info ul li {font-size: 3.3vw;padding-left: 10px;} 
    #profile .info ul li span { font-size:16px; } 
    #profile .txt1 { font-size: 4.8vw; left: 3%; top: -21vw; } 
    #profile .txt1 i { font-size: 4.5vw; left: -5vw; top: -3px; } 
    #profile .txt1 i:last-child { right: -5vw; top: 23px; } 
    #profile .infoSwiper {z-index:5;position: static;width: 100%;height: auto;margin-top: 6vw;margin-left:0;padding-bottom: 5vw;} 
    #profile .infoSwiper .txt { font-size: 3.6vw; } 
    #profile .infoSwiper .txt p {margin-bottom: 3vw;font-size: 3.3vw;} 
    #profile .infoSwiper .swiper-button-next, #profile .infoSwiper .swiper-button-prev {bottom: 3vw;right:0;} 
    #profile .infoSwiper .swiper-button-next i, #profile .infoSwiper .swiper-button-prev i { font-size:6vw; } 
    #profile .career { padding-left:22px; } 
    #profile .career ul li span { font-size: 3.2vw; } 
    #profile .career ul li { font-size: 3.6vw; margin-bottom: 15px; } 
    #profile .mail {position:fixed;top:auto;bottom:0;width: 100%;height: 11vw;right: 0;} 
    #profile .mail .form { top:auto; bottom:0; width: 100%; right: 0; height: 420px; padding: 15px; } 
    #profile .mail-icon { width: 100%; height: 100%; border-radius: 0; } 
    #profile .mail-icon i {font-size: 6vw;} 
    #profile .mail .form .txt { font-size:20px; } 
    #profile .mail .form form input[type="text"] { font-size:12px; margin-bottom:7px; padding:0 7px; border-radius: 5px;; } 
    #profile .mail .form form textarea { font-size:12px; border-radius: 5px;; } 
    #profile .mail .form form input[type="button"] { height:40px; font-size:15px; border-radius: 5px; } 
    #profile .mail .form .success .txt { font-size:17px; } 
    #profile .mail .form .success .close { height:40px; font-size:15px; border-radius: 5px; } 

    #work>.close {left:15px; top:15px;} 
    #work .main-title {top: 6%;right: -170px;} 
    #work .webSwiper {height:220px; padding-top: 27vw; padding-bottom: 320px;} 
    #work .webSwiper .item.long.active {padding-bottom:260px;} 
    #work .webSwiper .item .bg {height: 220px;} 
    #work .webSwiper .item {margin:0 10px; width:400px !important; padding-bottom:45px;} 
    #work .webSwiper .item.active {width: 400px !important; padding-bottom:200px;} 
    #work .webSwiper .info {font-size: 16px; padding: 0 10px; height: 45px;} 
    #work .webSwiper .box{padding:7px}
    #work .webSwiper .box p {font-size: 14px; width:100%; padding-left:0;} 
    #work .webSwiper .box .links{ position:relative; top:auto; right:auto; left:-10px;}
    #work .webSwiper .box .link {font-size:15px;} 
    #work .webSwiper .box .link + .link {margin-top:0;} 
    #work .webSwiper .box .link + .link + .link {margin-top:0;} 
    #work .webSwiper .box .link::after {top:11px; width:5px; height:5px;} 
}

@media (max-width: 768px){
    #wrap #main .wall .arrow {width: 20px; height: 20px;} 

    #work .main-title{top: 25vw;}

    #profile .mail .form {height: 385px;} 
    #profile .mail .form form input[type="text"] {height:35px;} 
    #profile .mail .form .txt {font-size:15px;} 

    #work .webSwiper {height:150px; padding-top: 55vw; padding-bottom: 80vw;} 
    #work .webSwiper .item {margin:0 10px; width:220px !important;} 
    #work .webSwiper .item .bg {height: 150px;} 
    #work .webSwiper .box p{font-size:13px;}
    #work .webSwiper .box .link{font-size:13px;}
    #work .webSwiper .item.active {width: 220px !important; padding-bottom: 205px; box-shadow: rgb(132 132 132) 0px 0px 20px;} 
    #work .webSwiper .item.active .txt {padding:7px;} 
    #work .webSwiper .info {font-size:13px; padding:0 7px;} 
    #work .webSwiper .txt p {font-size: 12px;} 
    #work .webSwiper .txt .link {font-size:12px;} 
    #work .webSwiper .item.long.active {padding-bottom: 250px;} 
    #work .webSwiper .item.long.active:nth-child(3) {padding-bottom: 295px;} 
}



/* ani */
@-webkit-keyframes slide-left { 
    0% {transform: translateX(0px);} 
    50% {transform: translateX(50px);} 
    100% {transform: translateX(0px);} 
}
    @keyframes slide-left { 
    0% {transform: translateX(0px);} 
    50% {transform: translateX(50px);} 
    100% {transform: translateX(0px);} 
}
    @-webkit-keyframes slide-right { 
    0% {transform: translateX(0px);} 
    50% {transform: translateX(-50px);} 
    100% {transform: translateX(0px);} 
}
    @keyframes slide-right { 
    0% {transform: translateX(0px);} 
    50% {transform: translateX(-50px);} 
    100% {transform: translateX(0px);} 
}
@keyframes bulb {
    to {
        fill-opacity:1;
        fill:#FBF8CA;
    }
}

@keyframes lamp {
    5%{transform:rotate(-45deg)}
    10%{transform:rotate(35deg)}
    15%{transform:rotate(-35deg)}
    25%{transform:rotate(20deg)}
    40%{transform:rotate(-15deg)}
    65% {transform:rotate(5deg)}
    80% {transform:rotate(-1deg)}  
    85%{transform:rotate(0deg)}
    100%{transform:rotate(0deg)}
}

@keyframes fadeOut {
    0%{opacity:1;}
    95%{opacity:1;}
    100%{opacity:0;display:none;}
}